{% if user.arm_bolim == 'arm-1' %}           
        <div class="container-fluid row p-0 m-0">
                <div class="col-2 p-1 vh-100 border-dark border-end">
                        {% include 'arm/arm_1/col-2.html' %}
                </div>
                <div class="col-10 p-0 m-0">
                        {% include 'arm/arm_1/col-10.html' %}
                </div>
        </div>                                    
{% endif %}

{% if user.arm_bolim == 'arm-2' %} 
        <div class="container-fluid row p-0 m-0">
                <div class="col-2 p-1 vh-100 border-dark border-end">
                        {% include 'arm/arm_2/col-2.html' %}
                </div>
                <div class="col-10 p-0 m-0">
                        {% include 'arm/arm_2/col-10.html' %}
                </div>
        </div>                                        
{% endif %}

{% if user.arm_bolim == 'arm-3' %}
        <div class="container-fluid row p-0 m-0">
                <div class="col-2 p-1 vh-100 border-dark border-end">
                        {% include 'arm/arm_3/col-2.html' %}
                </div>
                <div class="col-10 p-0 m-0">
                        {% include 'arm/arm_3/col-10.html' %}
                </div>
        </div>                                    
{% endif %}
  
