<div class="accordion accordion-flush" id="accordionFlushExample">
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse1" aria-expanded="false" aria-controls="flush-collapse1">
        <i class="bi bi-person-add pe-2"></i>
        Adminlar
      </button>
    </h2>
    <div id="flush-collapse1" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
      <div class="accordion-body p-0 m-0">
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <i class="bi bi-person-plus pe-2"></i>
            <a href="{% url 'superadmin_yangi' %}" class="text-dark bg-white" style="text-decoration: none;">Superadmin</a>            
          </li>
          <li class="list-group-item">
            <i class="bi bi-book pe-2"></i>
            <a href="{% url 'arm_yangi' %}" class="text-dark bg-white" style="text-decoration: none;">Armadmin</a>            
          </li>
          <li class="list-group-item">
            <i class="bi bi-bank pe-2"></i>
            <a href="{% url 'dekanat_yangi' %}" class="text-dark bg-white" style="text-decoration: none;">Dekanatadmin</a>             
          </li>          
        </ul>
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse2" aria-expanded="false" aria-controls="flush-collapse2">
        <i class="bi bi-book-half pe-2"></i>
        ARM
      </button>
    </h2>
    <div id="flush-collapse2" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
      <div class="accordion-body p-0 m-0">        
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <i class="bi bi-book pe-2"></i>
            ARM-1
          </li>
          <li class="list-group-item">
            <i class="bi bi-people-fill pe-2"></i>
            ARM-2
          </li>
          <li class="list-group-item">
            <i class="bi bi-cloud-arrow-up pe-2"></i>
            ARM-3
          </li>          
        </ul>
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse3" aria-expanded="false" aria-controls="flush-collapse3">
        <i class="bi bi-bank pe-2"></i>
        Dekanat
      </button>
    </h2>
    <div id="flush-collapse3" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
      <div class="accordion-body p-0 m-0">
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <i class="bi bi-bank2 pe-2"></i>
            <a href="{% url 'fakultet_yangi' %}" class="text-dark bg-white" style="text-decoration: none;">Fakultet</a>              
          </li>
          <li class="list-group-item">
            <i class="bi bi-bank2 pe-2"></i>
            Kafedra           
          </li>
          <li class="list-group-item">
            <i class="bi bi-bank2 pe-2"></i>
            <a href="{% url 'yonalish_yangi' %}" class="text-dark bg-white" style="text-decoration: none;">Yo`nalish</a>            
          </li>
          <li class="list-group-item">
            <i class="bi bi-bank2 pe-2"></i>
            <a href="{% url 'kurs_yangi' %}" class="text-dark bg-white" style="text-decoration: none;">Kurs</a>  
            
          </li>
          <li class="list-group-item">
            <i class="bi bi-bank2 pe-2"></i>
            <a href="{% url 'guruh_yangi' %}" class="text-dark bg-white" style="text-decoration: none;">Guruh</a>  
            
          </li>                    
        </ul>
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse4" aria-expanded="false" aria-controls="flush-collapse4">
        <i class="bi bi-people-fill pe-2"></i>
        Talabalar
      </button>
    </h2>
    <div id="flush-collapse4" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
      <div class="accordion-body p-0 m-0">
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <i class="bi bi-people pe-2"></i>
            Talabalar
          </li>
          <li class="list-group-item">
            <i class="bi bi-book pe-2"></i>
            Kitoblar
          </li>
          <li class="list-group-item">
            <i class="bi bi-bar-chart pe-2"></i>
            Statistika
          </li>          
        </ul>
      </div>
    </div>
  </div>
</div>