<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fakultetlar</title>
</head>
<body>    
    <select class="form-select" aria-label="Default select example">
        <option selected disabled>Fakultetlar</option>
        {% for f in fakultetlar %}        
        <option value="">{{f}}</option>            
        {% endfor %}
    </select> 
    <select class="form-select" aria-label="Default select example">
        <option selected disabled>Kafedralar</option>
        {% for k in kafedralar %}        
        <option value="">{{k}}</option>            
        {% endfor %}      
        
    </select>    
</body>
</html>