{% load static %}

<footer class="p-0">
  <nav class="navbar bg-primary px-md-3 px-lg-5 px-sm-2">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img src="{% static '/yangilik/images/arm.jpg' %}" style="width: 55px; height: 55px; border-radius: 50%;" alt="QDPI">
        <h2 class="h1 fs-6 d-inline-block text-white">
            Axborot Resurs Markazi
        </h2>
      </a>
      <div>
        <a href="#">
          <img class="footer-icon" src="{% static '/yangilik/images/telegram-white.png' %}" alt="Telegram">
        </a>
        <a href="#">
          <img class="footer-icon" src="{% static '/yangilik/images/email.png' %}" alt="Email">
        </a>
        <a href="#">
          <img class="footer-icon-3" src="{% static '/yangilik/images/telephone.png' %}" alt="Phone">
        </a>
      </div>
    </div>
  </nav> 
  <div class="text-center bg-primary p-2">
    <p class="h1 fs-6 d-inline-block text-white">© 2023 Qoʻqon pedagogika instituti:</p>    
    <a class="text-reset fw-bold" style="text-decoration: none;" href="https://kspi.uz/">kspi.uz</a>
  </div>           
</footer>